<a href="https://colab.research.google.com/github/lenaphamthi/baitapchuong3/blob/main/baitap7_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 0
while i <= 10 :
  print (i)
  i = i +1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
rows = 5
for i in range(0, rows + 1):
    for j in range(rows - i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [66]:
s = 0
n = int(input("Enter number "))
for i in range(1, n + 1, 1):
    s += i
print("Sum is: ", s)

Enter number 15
Sum is:  120

In [74]:
n = 2
for i in range(1, 11):
    x = n * i
    print(x)

2
4
6
8
10
12
14
16
18
20

In [68]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [71]:
x = int(input("nhap so "))
print ("total number of digits : ", len(str(x)))

nhap so 234
total number of digits :  3

In [77]:
List = ["b", "n", 25, "a", 24];
List.reverse();
print(List);

[24, 'a', 25, 'n', 'b']

In [64]:
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [108]:
start = 25
end = 50
print (start, "and", end, "are:")
for num in range(start, end + 1):
  if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

25 and 50 are:
29
31
37
41
43
47

In [107]:
num1, num2 = 0, 1
print("Fibonacci sequence:")
for i in range(10):
    print(num1, end="  ")
    res = num1 + num2
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [102]:
x = 3
factorial = 1
if x < 0:
    print("Giai thừa không tồn tại")
elif x == 0:
    print("Giai thừa của 0 là 1")
else:
    for i in range(1, x + 1):
        factorial = factorial * i
    print("The factorial of", x, "is", factorial)

The factorial of 3 is 6

In [105]:
num = 76542
reverse = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse = (reverse * 10) + reminder
    num = num // 10
print("Revere Number ", reverse)

Given Number  76542
Revere Number  24567

In [103]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in list[1::2]:
    print(i, end=" ")

2 4 6 8 10

In [104]:
x = 6
for i in range(1, x + 1):
    print(" so:", i, " khoi lap phuong la", (i * i * i))

 so: 1  khoi lap phuong la 1
 so: 2  khoi lap phuong la 8
 so: 3  khoi lap phuong la 27
 so: 4  khoi lap phuong la 64
 so: 5  khoi lap phuong la 125
 so: 6  khoi lap phuong la 216