<a href="https://colab.research.google.com/github/lenaphamthi/baitapchuong3/blob/main/b%C3%A0i_t%E1%BA%ADp_ch%C6%B0%C6%A1ng_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Truy cập các phần tử của list
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[4])

list1[0]:  physics
list2[1:5]:  5

In [ ]:
#Thay đổi giá trị phần tử của List
list = ['physics', 'chemistry', 1997, 2000]
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [ ]:
#Xóa phần tử của List
list1 = ['physics', 'chemistry', 1997, 2000]
print(list1)
del list1[2]
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
#Truy cập các phần tử của Tuples
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
#Thay đổi giá trị phần tử của Tuples
tup3 = tup1 + tup2
print(tup3)

('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

In [ ]:
#Xóa phần tử của Tuples
tup = ('physics', 'chemistry', 1997, 2000)
print(tup[0])

physics

In [ ]:
#truy cập Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [ ]:
dict = {'name': 'na', ' age':7}
print(dict['name'])
dict ['name'] = 'bim'
dict ['class'] = "K2"
print(dict['name'] ,dict ['class'])

na
bim K2

In [ ]:
#Thay đổi giá trị phần tử của Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; 
dict['School'] = "DPS School"; 
print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [ ]:
#Xóa phần tử của Dictionary
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] 
dict.clear()
print (dict)

{}

In [ ]:
#Khởi tạo set
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
# Adding element to the set
Set.add("d")
print("\nSet after adding: ")
print(Set)
Set.clear()
print (Set)

Set:
{'c', 'a', 'b'}

Set after adding:
{'c', 'a', 'b', 'd'}
set()

In [ ]:
#Thêm phần tử 
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
 people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Idrish', 'Archi', 'Jay'}

Set after adding element: {'Daxit', 1, 2, 3, 4, 'Archi', 5, 'Idrish', 'Jay'}

In [ ]:
#Bớt phần tử
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Thu', 'Wed', 'Tue', 'Sat', 'Fri', 'Mon'}

In [ ]:
#Xóa toàn bộ
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
# This method will remove
# all the elements of the set
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [ ]:
#phép hợp
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
# Union using union() function
population = people.union(vampires)
print("Union using union() function")
print(population)
# Union using "|" operator
population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Karan', 'Archil', 'Jay', 'Idrish', 'Arjun'}

Union using '|' operator
{'Deepanshu', 'Archil', 'Jay', 'Idrish', 'Raju'}

In [ ]:
#phép giao
set1 = set()
for i in range(5):
 set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [ ]:
#phép hiệu 
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Difference of two sets using difference() function
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [ ]:
#Kiểm tra tập con - tập cha
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

In [ ]:
#Lấy thời gian hiện tại
import time; # This is required to include time module.
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
#Number of ticks since 12:00am, January 1, 1970: 7186862.73399
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1633274704.8875926
Local current time : time.struct_time(tm_year=2021, tm_mon=10, tm_mday=3, tm_hour=15, tm_min=25, tm_sec=4, tm_wday=6, tm_yday=276, tm_isdst=0)

In [ ]:
import time
localtime = time.time()
print (localtime)

1633274923.1256268

In [ ]:
#Định dạng thời gian
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Sun Oct  3 15:29:08 2021

In [ ]:
import calendar 
x = calendar.month(2021,10)
print (x)

    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31